$color-neutral: #ffffff;

$color-grey-50: #f8f8f8;
$color-gray-100: #eee;
$color-gray-200: #ededed;
$color-gray-300: #e5e5e5;
$color-gray-400: #c0c0c0;
$color-gray-500: #ccc;
$color-gray-600: #999;
$color-gray-700: #888;
$color-gray-800: #444;

$color-vegas-gold: #beae59;
$color-portland-orange: #fe592f;
$color-deep-saffron: #fe972a;
$color-blue-jeans: #04a8f3;
$color-red: #e12f2f;
