@import "abstracts/colors";

.login-form-container {
  margin-top: 10rem;
  padding: 2rem;
  background-color: $color-neutral;
}

.block-title {
  font-weight: 700;
  font-size: 20px;
  color: $color-neutral;
  margin: 0 0 20px;
  text-transform: uppercase;
  background: $color-gray-400;
  padding: 0 21px;
}

.title {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.login-link {
  text-decoration: none;
  font-size: 20px;
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $color-gray-800;
  color: $color-neutral;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}

.login-links {
  display: flex;
}
