<div class="bg-block">
  <img src="assets/images/bg-shop.jpg" class="bg-img">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <div class="login-form-container">
        <div class="block-title"><h2 class="title">login</h2></div>
        <div class="login-links">
          <a href="#" class="login-link">f</a>
          <a href="#" class="login-link">G+</a>
        </div>
        <form autocomplete="off" class="login-form" [formGroup]="form">
          <input type="text" class="form-control input-log-in" formControlName="username"
                 placeholder="Username" required><br>
          <input type="password" class="form-control input-log-in2" formControlName="password"
                 placeholder="Password" required><br>
          <button type="submit" class="btn btn-default" (click)="login()">Login</button>
          <button class="btn btn2">I have not an account</button>
        </form>
      </div>
    </div>
  </div>
</div>
