<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="widgets">
        <div class="widget">
          <h4 class="widget-title">hot tags</h4>
          <div class="widget-body">
              <a class="widget-tag">anniversary</a>
              <a class="widget-tag">birthday</a>
              <a class="widget-tag">cakes</a>
              <a class="widget-tag">cameras</a>
              <a class="widget-tag">electrics</a>
              <a class="widget-tag">fashion</a>
              <a class="widget-tag">gift</a>
              <a class="widget-tag">shoes</a>
              <a class="widget-tag">woman</a></div>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div>
        <div class="panel-view">
          <div class="switch-view">
            <div class="view-icon"></div>
            <div class="view-variant view-variant1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16"><path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"/></svg></div>
            <div class="view-variant view-variant2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/><path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/><path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/></svg></div>
          </div>
        </div>
      </div>
      <div class="products-content">
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
      </div>
    </div>
  </div>
</div>
