<div class="product">
  <div class="product-image">
    <img src="assets/images/1.jpg" alt="" class="product-img">
  </div>
  <p class="product-cost">$120.00</p>
  <p class="product-description">OFFICIA PROSCIUTTO</p>
  <div class="product-buttons">
    <div class="buttons-content">
      <button class="product-btn product-btn-left"></button>
      <button class="product-btn product-btn-center">add to cart</button>
      <button class="product-btn product-btn-right"></button>
    </div>
  </div>
</div>
